* {
    margin: 0;
    padding: 0;
}

body {
    width: 100%;
    height: 100%;
    background-color: #272323;
    color: rgba(169, 170, 184, 0.911);
}

.cont {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.cont h1 {
    margin: 30px 0;
}

form {
    width: 100%;
    max-width: 300px;
    display: flex;
    flex-direction: column;
}

form input {
    display: flex;
    flex-direction: column;
    align-items: center;
}

input[type=text] {
    width: 100%;
    margin-bottom: 35px;
    max-width: 280px;
    padding: 5px;
    outline: none;
    background: transparent;
    font-size: 12pt;
    color: rgb(255, 255, 255);
    border: none;
    border-radius: 7px;
    border-bottom: teal solid 2px;
}

input[type=submit] {
    width: 80%;
    max-width: 200px;
    font-size: 12pt;
    padding: 5px;
    color: #ee6e4b;
    background: #ee6e4b41;
    border: solid 2px #ee6e4b;
    margin: 0 auto;
    border-radius: 7px;
}

input {
    margin-bottom: 45px;
}

input[type=submit]:hover {
    padding: 4px;
    background-image: linear-gradient(to right, #e4520e 0%, rgb(250, 63, 11) 51%, #e4520e 100%);
}